footer {
    position: relative;
    font-family: "Roboto-300";
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--slate-600);
    height: max-content;
    padding: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

footer a {
    display: flex;
    align-items: center;
}

footer img {
    width: 1.7rem;
    padding-left: 8px;
}